/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}

body {
  font-size: 16px;
  font-family: 'Saira', sans-serif;
}

header, nav, main, footer {
    margin: 2rem auto;
    padding: .5rem;
    max-width: 1366px;
}
    
header {margin-bottom: 10px;}
header h1 {}
header img {float: left;}
header .subheading {}

nav {}
nav button {}

nav ul {
    display: none;
    list-style-type: none;
    margin:0;
    padding:0;
}

    nav ul.show{
        display: block;
    }

nav ul li {}
nav ul li a {
    display: block;
    width: 100%;
    background-color: #0cf;
    text-decoration: none;
    color: black;
    padding: 12px;
}
nav ul li.active{
    background: #000;
    background-color: black;
}

nav ul li.active a{
    color: #fff;
    background-color: black;
}

    nav ul li a:hover{
        color: black;
        background-color: aqua; 
    }

main {}
main h2 {}

main picture {
    margin: 0 0 0 0; 
    width:96%; 
}

main picture img 
{ 
    width: 100%; 
}

.valor {
    font-weight: bold;
}
.current img{
    max-width: 50px;
}

.forecast {
    display: none;
}

article{
    border-style: solid;
    border-width: thin;
    text-align: center;
    margin-bottom: 15px;
    overflow: auto;
}


article p.town-article img {
  width: 96%;
  margin: .35rem 2%;
}

footer {
    text-align: center;
}
footer aside ul {list-style: none}
footer>p {text-align: center} /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */
/* ------grid layout------- */
@media (max-width: 600px) {.grid{
        width: 300px;
        display: grid; 
        grid-template-columns: 300px;
        }
}
@media (max-width: 1000px) {.grid{
        width: 900px;
        display: grid; 
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 200px 200PX;
  }
        div figure img{ width: 400px;
                height: 250px;}
}

.grid { margin: auto;
        width: 900px;
        display: grid; 
        grid-template-columns: 300px;
        grid-template-rows: 200px;
        grid-gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        
        }
div figure img{ width: 200px;
                height: 150px;
                }
div figcaption{ color: red; text-align: center;}

/* Form styling *********************************/    

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    margin-bottom: 1em;
}
form legend {
    color: black;
    margin-left: 6%;
    padding: .5rem;
    border: #917a56 solid 1px;
    background-color: #0cf;
    font-weight: bold;
    border-radius: .4rem;
   font-size: 18px;  
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: darkblue;
    font-size: 1.1rem;
} 

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitbutton {
    border: none;
    background-color: #0cf;
    color: black;
    border-radius: 1rem;
    font-weight: bold;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

textarea {
    width: 100%;
    max-width: 20rem;
    max-height: 15rem;
    margin: 0rem;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/* ---------- thank you ---------- */

.thank-you {
   padding-bottom: 30px;
}

.large {
   font-family:'Ubuntu', sans-serif ;
   text-align: center;
   font-size: 3rem;
   color:#0cf ;
   padding: 3rem 0rem 4rem 0rem;
   line-height: 4rem;
   
}
